@using agileworks_test.Models;
@functions {
    bool SolvedStateChange(Request request)
    {
        request.Solved = true;
        return request.Solved;
    }
}

<head>
    <title>Kõik pöörumised</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/a5575e939c.js" crossorigin="anonymous"></script>
</head>

<body class="text-center">
    <p class="text-3xl my-3">Sinu pöördumised</p>

    <table class="grid justify-center my-8">
        <tr>
            <th class="px-8">Selgitus</th>
            <th class="px-8">Millal tehtud</th>
            <th class="px-8">Lahendatud?</th>
            <th class="px-8">Millal lahendati?</th>
            <th class="px-8">Deadline</th>
        </tr>
        @foreach (var request in Model)
        {
            // TODO: Find a way to change the solved state with a button
            @if(!request.Solved)
            {
                <tr class="mb-8">
                    <td class="px-8">@request.Description</td>
                    <td class="px-8">@request.CreatedAt</td>
                    <td class="flex space-x-8 px-8">
                        <div>@request.Solved</div>
                        <button class="border border-black rounded p-1">
                            <i class="fa-solid fa-check"></i>
                        </button>
                    </td>
                    @if(request.Solved)
                    {
                        <td class="px-8">@request.SolvedWhen</td>
                    }
                    else
                    {
                        <td class="px-8">Pole veel lahendatud</td>
                    }
                    <td class="px-8">@request.SolvedBy</td>
                </tr>
            }
        }
    </table>

    <a href="/Request/Create" class="align-middle bg-sky-400 hover:bg-sky-500 border-0 rounded p-1">Loo pöördumine</a>
</body>